*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(177,200,210);
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamebox{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:1vmin;
}
.tile{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    font-size: 8vmin;
    background-color: aliceblue;
    color: black;
}
#new-btn,#reset-btn{
    padding :1rem;
    font-size: 1.5 rem;
    border-radius: 0.5rem;
    background-color: rgb(238,240,242);
    border: none;
}
#msg{
    color: black;
    font-size: 8vmin;
}
.msgContainer{
    height: 90vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:4vmin;
}
.hide{
    display: none; 
}